// "main": "../curriculum-vitae.less"

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: darken($text-color, 10%);
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: .4em;

  small {
    line-height: 1;
    color: #777;
  }
}

h1, h2, h3,
.h1, .h2, .h3 {
  small {
    font-size: 65%;
  }
}
