{% if clients is defined and clients|length > 0 %}
  <div class="app-section app-section--clients{% if section_classes is defined and section_classes is not empty %} {{ section_classes }}{% endif %}">
    <div class="-inner scrolling-machine sm--from-right">
      <h3 class="heading text-center mb-4" id="clients" data-text="Clients" style="--heading-text-drop-offset: -1.7em">Clients</h3>
      <p class="text-muted text-center mb-5">
        Lorem ipsum ~
      </p>

      <ul class="list-logo">
      {% for client in clients %}
        <li class="-item">
          <img src="{{ asset('uploads/documents/clients/' ~ client.logoFilename) }}"
            alt="{{ client.company }}" title="{{ client.company }}">
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
