
<div class="jumbotron jumbotron-fluid bg-none text-white mb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-logo col-sm-4 col-md-5 col-lg-6 col-xl-5 order-sm-last">
        {% include 'components/logo.html.twig' %}
      </div>

      <div class="col-identity col-sm-8 col-md-7 col-lg-6 col-xl-7">
        {% include 'components/identity.html.twig' %}

        <hr class="my-4">

        <ul class="list-contact-method mb-2">
          <li>
            <span class="icon icon-phone-handset"></span>
            {{ identity.phone }}
          </li>
          <li>
            <span class="icon icon-envelope"></span>
            {{ identity.mail }}
          </li>
          <li>
            <span class="icon icon-map-marker"></span>
            {{ identity.location.city }}, {{ identity.location.department }}
          </li>
        </ul>

        <a class="btn btn-primary mr-2 my-2" href="#" role="button">Demande de devis</a>
        <a class="btn btn-secondary" href="#" role="button">Me contacter</a>
      </div>
    </div>
  </div>
</div>
