<div class="jumbotron jumbotron-fluid bg-none text-white mb-0">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-logo col-sm-4 col-md-5 col-lg-6 col-xl-5 order-sm-last">
        {% include 'components/logo.html.twig' %}
      </div>

      <div class="col-identity col-sm-8 col-md-7 col-lg-6 col-xl-7">
        {% include 'components/identity.html.twig' %}

        <hr class="mt-5 mb-4">

        <ul class="list-contact-method mb-3">
          <li>
            <span class="icon icon-phone-handset"></span>
            {{ identity.phone }}
          </li>
          <li>
            <span class="icon icon-envelope"></span>
            {{ identity.mail }}
          </li>
          <li>
            <span class="icon icon-map-marker"></span>
            {{ identity.location.city }}, {{ identity.location.department }}
          </li>
        </ul>

        <a class="btn-toggle-form-contact btn btn-primary mr-3 my-2"
          href="#contact-form" role="button" data-check-is-quote="true">
          Demande de devis
        </a>
        <a class="btn-toggle-form-contact btn btn-outline-light"
          href="#contact-form" role="button">
          Me contacter
        </a>
      </div>
    </div>
  </div>
</div>
