<div class="bg-secondary text-light py-5" style="min-height: 100px;">
  <div class="container">
    <h3 class="heading" data-text="Logs.">Logs.</h3>

    <ul class="list-logs">
      <li></li>
    </ul>
  </div>
</div>
