<section class="app-section app-section--projects">
  <div class="--inner scrolling-machine sm--from-center">
    <h3 class="heading text-center mb-4" id="projects"
      data-text="Quelques projets" style="--heading-text-drop-offset: -4em;">
      Quelques projets
    </h3>
    <p class="text-muted mb-5">
      Vous trouverez ici les projets les plus récents et accessibles que
      j'ai réalisé, pour en découvrir d'autres n'hésitez pas à
      <a href="#contact-form" class="btn-toggle-form-contact">me contacter</a>.
    </p>

    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <figure class="app-project-item">
          <img class="--img img-fluid" src="{{ asset('build/images/projects/thumb-ingeneria.png') }}" alt="Ateliers Ingeneria">
          <figcaption class="--text">
            <h4 class="--title">Site web de gestion d'ateliers pour la société Ingeneria</h4>
            <ul class="--specs">
              <li>Symfony</li>
              <li>Bootstrap</li>
              <li>FullCalendar</li>
            </ul>
            <span class="btn btn-sm btn-secondary btn-disabled">
              Accès sur demande
            </span>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="app-project-item">
          <img class="--img img-fluid" src="{{ asset('build/images/projects/thumb-kargain.png') }}" alt="Kargain">
          <figcaption class="--text">
            <h4 class="--title">Prototype HTML d'une application de vente de véhicule BtoB et BtoC</h4>
            <ul class="--specs">
              <li>Silex</li>
              <li>Bootstrap</li>
              <li>jQuery</li>
            </ul>
            <a href="http://dev.spectcar.litti-aurelien.fr/"
              class="btn btn-sm btn-primary">Voir le site</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="app-project-item">
          <img class="--img img-fluid" src="{{ asset('build/images/projects/thumb-kakeibo.png') }}" alt="Kakeibo">
          <figcaption class="--text">
            <h4 class="--title">Projet personnel de gestion de compte bancaire</h4>
            <ul class="--specs">
              <li>Symfony</li>
              <li>Vue.JS</li>
            </ul>
            <span class="btn btn-sm btn-secondary btn-disabled">En cours</span>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
