<div class="bg-white py-5" style="min-height: 300px">
  <div class="container">
    <h3 class="heading text-center" data-text="Témoignages" style="--heading-text-drop-offset: -3em">Témoignages</h3>

  </div>
</div>
