{% if testimonials is defined and testimonials|length > 0 %}
  <div class="app-section app-section--testimonials bg-white" style="min-height: 300px">
    <div class="--inner scrolling-machine sm--from-center">
      <h3 class="heading text-center" id="temoignages" data-text="Témoignages" style="--heading-text-drop-offset: -3em">Témoignages</h3>

      {% for testimonial in testimonials %}
        <div class="text-center">
          <p>{{ testimonial.message|nl2br }}</p>
          {% if testimonial.displayNames %}{{ testimonial.client.firstname }} {{ testimonial.client.lastname|first }}.<br>{% endif %}
          <b>{{ testimonial.client.company }}</b>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
