<div class="block-services bg-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-text">
        <h3 class="heading" data-text="Qui suis-je ?">Qui suis-je ?</h3>
        <p class="text-contextual">
          Développeur web depuis maintenant 7ans, et en tant que freelance depuis 1an,
          j'aime me diversifier dans les multiples domaines du web, allant de la
          réalisation d'une maquette, en passant par son intégration (front-end)
          et développement (back-end).
        </p>

        <p class="text-contextual">
          Selon vos besoin, je suis à même de réaliser vos projets qu'ils soient
          sur-mesure ou via des solutions clé en main.<br>
          Ainsi, à l'aide de mes diverses compétences web, je vous accompagne tout
          au long du processus de création de votre projet.
        </p>
      </div>

      <div class="col-xl-7 col-services">
        <ul class="card-services pl-0 my-0">
          {# Service / Responsive design #}
          <li class="card">
            <div class="card-body">
              <span class="icon icon-laptop-phone"></span>
              <p class="card-text">
                Responsive design
              </p>
            </div>
            <div class="card-hidden-info d-flex align-items-center p-4">
              <div class="d-flex w-100 text-center">
                L'ensemble de mes sites sont réalisés de manière &laquo; responsive &raquo;,
                ils s'adaptent à tous les formats d'écran (mobile, tablette, ...).
              </div>
            </div>
          </li>

          {# Service / Speed #}
          <li class="card">
            <div class="card-body">
              <span class="icon icon-rocket"></span>
              <p class="card-text">
                Performances & opti.
              </p>
            </div>
            <div class="card-hidden-info d-flex align-items-center p-4">
              <div class="d-flex w-100 text-center">
                ...
              </div>
            </div>
          </li>

          {# Service / Dev. #}
          <li class="card">
            <div class="card-body">
                <span class="icon icon-keyboard"></span>
              <p class="card-text">
                Développement
              </p>
            </div>
            <div class="card-hidden-info d-flex align-items-center p-4">
              <div class="d-flex w-100 text-center">
                ...
              </div>
            </div>
          </li>

          {# Service / Managment #}
          <li class="card">
            <div class="card-body">
              <span class="icon icon-layers"></span>
              <p class="card-text">
                Gestion & suivi
              </p>
            </div>
            <div class="card-hidden-info d-flex align-items-center p-4">
              <div class="d-flex w-100 text-center">
                ...
              </div>
            </div>
          </li>

          {# Service / ? #}
          <li class="card">
            <div class="card-body">
              <span class="icon icon-leaf"></span>
              <p class="card-text">
                Durable
              </p>
            </div>
            <div class="card-hidden-info d-flex align-items-center p-4">
              <div class="d-flex w-100 text-center">
                &amp; écologique !
              </div>
            </div>
          </li>

          {# Service / ? #}
          <li class="card">
            <div class="card-body">
              <span class="icon icon-magic-wand"></span>
              <p class="card-text">
                Magic ~
              </p>
            </div>
            <div class="card-hidden-info d-flex align-items-center p-4">
              <div class="d-flex w-100 text-center">
                &amp; a kind of magic... magiiiic
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
