// Contextual backgrounds (based on Bootstrap mixin)
//

// Opacified background

@mixin bg-variant-transparent($parent, $color, $amount) {
  #{$parent}-#{$amount} {
    background-color: $color !important;
    background-color: transparentize($color, 1 - ($amount / 100)) !important;
  }

  a#{$parent}-#{$amount},
  button#{$parent}-#{$amount} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;
      background-color: transparentize(darken($color, 10%), 1 - ($amount / 100)) !important;
    }
  }
}
