// Jumbo
//

.app-core {
  &--home {
    .jumbotron {
      text-align: center;
      // padding-top: 4.2rem;
      // padding-bottom: 4rem;
      // min-height: calc(100vh - #{$theme-header-min-height} - 2rem);
      // padding: 1rem 5rem 1rem 5.4rem;
      padding: 2rem;

      .#{$theme-prefix}logo {
        font-size: 5rem;
        filter: drop-shadow(0 0 .14em rgba(0, 0, 0, .2));
      }

      .#{$theme-prefix}identity {
        max-width: 20rem;
        text-align: center;
        margin: 2rem auto 0 auto;
      }

      .col-logo {
        text-align: center;
        z-index: 1;
      }

      .col-identity {
        z-index: 5;
      }

      .btn {
        box-shadow: 0 .5rem .8rem -.5rem transparentize($black, .6);
      }

      // Remove left & right margin coming from list items
      .list-contact-method {
        margin-right: -.8rem;
        margin-left: -.8rem;
      }
    }
  }
}



//
// Responsive
//

@include media-breakpoint-up(sm) {
  .app-core {
    &--home {
      .jumbotron {
        text-align: left;
        padding-top: 4.4rem;

        .#{$theme-prefix}identity {
          text-align: left;
          margin-left: 0;
        }

        .#{$theme-prefix}logo {
          font-size: 8rem;
          margin-bottom: -6rem;
          margin-left: -5rem;
        }

        .col-identity {
          hr {
            margin-left: 0;
          }
        }
      }
    }
  }
}


@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
  .app-core {
    &--home {
      .jumbotron {
        // Maximize jumbotron content to align with .app-main-content
        max-width: map-get($grid-breakpoints, lg);
        margin-right: auto;
        margin-left: auto;
        // ...
        padding-top: 5rem;
        padding-bottom: 5.4rem;

        .#{$theme-prefix}logo {
          font-size: 10rem;
          margin-bottom: -8rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .app-core {
    &--home {
      .jumbotron {
        // Maximize jumbotron content to align with .app-main-content
        max-width: map-get($grid-breakpoints, xl);
        // ...
        padding-top: 6rem;
        padding-bottom: 6.4rem;

        .#{$theme-prefix}identity {
          font-size: 1.2rem;
        }

        .#{$theme-prefix}logo {
          font-size: 12rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
  .app-core {
    &--home {
      .jumbotron {
        // Maximize jumbotron content to align with .app-main-content
        max-width: map-get($grid-breakpoints, xxl);
        // ...
        padding-top: 8rem;
        padding-bottom: 10rem;

        .#{$theme-prefix}identity {
          font-size: 1.3rem;
        }

        .#{$theme-prefix}logo {
          font-size: 12.8rem;
        }
      }
    }
  }
}
