// Core

.app-core {
  min-width: 340px;
  overflow-x: hidden;

  &--no-script {
    .app-header {
      .navbar {
        background-color: $navbar-bg !important;
        background-color: transparentize($navbar-bg, .05) !important;
        position: fixed;
        top: 0;
        width: 100%;
      }

      .navbar-brand {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }

    .message-no-script {
      margin-top: 4.8rem;
      margin-bottom: -1rem;
      max-width: map-get($grid-breakpoints, lg);

      .alert {
        margin-bottom: 0;
      }
    }
  }
}


// All of these above the ".app-bg"

.app-body, .app-footer {
  position: relative;
  z-index: 5;
}


// Application background

.app-bg {
  background: $body-bg url('#{$theme-bg-pattern}') repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


@include media-breakpoint-up(sm) {
  .app-core {
    &--no-script {
      .message-no-script {
        margin-top: 5.2rem;
        margin-bottom: -3.4rem;
      }
    }
  }
}


// Maximized main content with border radiuses

@include media-breakpoint-up(lg) {
  .app-core {
    &--no-script {
      .message-no-script {
        margin-top: 5.6rem;
        margin-bottom: -4.2rem;
        max-width: map-get($grid-breakpoints, lg);
      }
    }
  }

  .app-main-content {
    max-width: map-get($grid-breakpoints, lg);
    margin-left: auto;
    margin-right: auto;
    border-radius: .4rem;
    overflow: hidden;
  }
}

@include media-breakpoint-up(xl) {
  .app-core {
    &--no-script {
      .message-no-script {
        max-width: map-get($grid-breakpoints, xl);
      }
    }
  }

  .app-main-content {
    max-width: map-get($grid-breakpoints, xl);
  }
}

@include media-breakpoint-up(xxl) {
  .app-core {
    &--no-script {
      .message-no-script {
        max-width: map-get($grid-breakpoints, xxl);
      }
    }
  }

  .app-main-content {
    max-width: map-get($grid-breakpoints, xxl);
  }
}
