// Core

.app-core {
  min-width: 320px;
  overflow-x: hidden;
}


// All of these above the ".app-bg"

.app-body, .app-footer {
  position: relative;
  z-index: 5;
}


// Application background

.app-bg {
  background: $body-bg url('#{$theme-bg-pattern}') repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


// Maximized main content with border radius

@include media-breakpoint-up(lg) {
  .app-main-content {
    max-width: map-get($grid-breakpoints, lg);
    margin-left: auto;
    margin-right: auto;
    border-radius: .4rem;
    overflow: hidden;
  }
}

@include media-breakpoint-up(xl) {
  .app-main-content {
    max-width: map-get($grid-breakpoints, xl);
  }
}

@include media-breakpoint-up(xxl) {
  .app-main-content {
    max-width: map-get($grid-breakpoints, xxl);
  }
}
