// App-Header
//

.app-core {
  // OOS : Out Of Screen
  &--navbar-oos {
    .app-header {
      .navbar {
        position: fixed;
        top: -$theme-header-min-height;
        opacity: 0;
        transition: top 200ms ease, opacity 400ms ease;
      }

      .#{$theme-prefix}logo {
        // opacity: 0;
        transform: scale(1.2);
        transition:
        // opacity $theme-transition-duration * 4 ease-in-out,
          transform $theme-transition-duration * 2 ease-in-out;
      }

      .#{$theme-prefix}identity {
        .--names, .--status {
          // background-color: red;
          position: relative;
          left: -1em;
          // opacity: 0;
        }

        .--names {
          transition:
            // opacity $theme-transition-duration * 4 ease-in-out,
            left $theme-transition-duration * 2 ease-in-out;
        }

        .--status {
          transition:
            // opacity $theme-transition-duration * 4 ease-in-out,
            left $theme-transition-duration * 2.2 ease-in-out ;
        }
      }
    }
  }

  // Fixed navbar
  &--navbar-fixed {
    .app-header {
      .navbar {
        background-color: $navbar-bg;
        background-color: transparentize($navbar-bg, .05);
        top: 0;
        opacity: 1;
      }

      .nav-item {
        margin-top: 0;
        margin-bottom: 0;
      }

      .#{$theme-prefix}logo {
        opacity: 1;
        transform: scale(1);
      }

      .#{$theme-prefix}identity {
        .--names, .--status {
          left: 0;
          // opacity: 1;
        }
      }
    }
  }
}

.app-header {
  position: relative;
  z-index: 10;
  min-height: $theme-header-min-height;

  // Bootstrap navbar (= menu) in ".app-header"
  .navbar {
    position: absolute;
    z-index: 5;
    left: 0;
    width: 100%;
    // transition: position 400ms ease;
  }
}


// Maximize header content to align with .app-main-content

@include media-breakpoint-up(lg) {
  .app-header {
    .container-fluid {
      max-width: map-get($grid-breakpoints, lg);
    }
  }
}

@include media-breakpoint-up(xl) {
  .app-header {
    .container-fluid {
      max-width: map-get($grid-breakpoints, xl);
    }
  }
}

@include media-breakpoint-up(xxl) {
  .app-header {
    .container-fluid {
      max-width: map-get($grid-breakpoints, xxl);
    }
  }
}
