
// Core --no-script



.app-core {
  &--no-script {
    // Contact form
    .app-section--contact {
      background: none;
      position: relative;
      z-index: 5; // behind the header
      opacity: 1;
      pointer-events: auto;

      .contact-checkbox-for-quote {
        display: none
      }

      .contact-inputs-quote {
        display: block;
        padding-top: 0;
      }

      .btn-toggle-form-contact {
        display: none;
      }
    }
  }

  &--display-form-contact {
    overflow: hidden;

    // Contact form
    .app-section--contact {
      opacity: 1;
      // visibility: visible;
      overflow-y: scroll;
      pointer-events: auto;
    }

    // blur others elements
    .app-header, .app-body, .app-footer {
      filter: blur(4rem);
    }
  }
}



// Base section

.app-section {
  padding: 1.8rem 1rem;

  // Specifics sections

  &--whoami {
    background-color: $white;

    .--inner {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--projects {
    background-color: $light;
    text-align: center;

    .--inner {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;

      .text-muted {
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // Popup contact form
  &--contact {
    background-color: $dark;
    background-color: transparentize($dark, .04);
    color: $white;
    // remove default .app-section padding
    padding: 0;
    // positionning & sizing
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // hide & disable
    opacity: 0;
    pointer-events: none;
    // visibility: hidden;
    // transitions
    transition: opacity $theme-transition-duration ease-in-out;
    overflow-x: hidden;

    .--inner {
      max-width: 44rem;
      margin-left: auto;
      margin-right: auto;
      padding: 1.8rem 1rem;
    }

    .form-group {
      margin-bottom: 1.4rem;
    }

    hr {
      margin-top: 1.4rem;
      margin-bottom: 1.4rem;
    }

    .contact-inputs-quote {
      display: none;
      padding-top: 1.4rem;
    }

    .is-quote {
      .contact-inputs-quote {
        display: block;
      }
    }
  }
}



// // Project section items

.app-project-item {
  max-width: 270px; // = thumbs width / 2
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: .5rem;

  &:hover {
    .--img {
      transform: scale(1.2);
      filter: blur(.2rem);
    }

    .--text {
      opacity: 1;
      pointer-events: auto;
    }
  }

  // Main project image
  .--img {
    // set scale for animation on :hover
    transform: scale(1);
    filter: blur(0);
    transition:
      transform $theme-transition-duration ease,
      filter $theme-transition-duration ease;
  }

  // Main project text
  .--text {
    background-color: $dark;
    background-color: transparentize($dark, .15);
    color: $white;
    text-align: center;
    // type display + alignement & direction
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 2.5rem 1.5rem;
    padding: 0 1rem;
    // set position
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    // set opacity & animation
    opacity: 0;
    transition: opacity $theme-transition-duration ease;
    // disable clic to prevent mobile touch on link button
    pointer-events: none;
  }

  .--title {
    font-size: 1rem;
    line-height: 1.6;
  }

  .--specs {
    font-size: .825rem;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;

      + li {
        &:before {
          content: ' / ';
        }
      }
    }
  }

  .btn {
    margin: 0 auto;
  }
}

@include media-breakpoint-up(md) {
  .app-section {
    padding: 3rem 2rem;

    &--contact {
      padding: 0;

      .--inner {
        padding: 3.2rem 1.2rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .app-project-item {
    .--text {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }
  }
}
