// Logo
//

.#{$theme-prefix}logo {
  // color: $primary;

  &--svg {
    // fill: currentcolor; // Reset filled color
    fill: url(#gradient-vertical-primary) $primary;
    width: 2.875em;
    height: auto;
  }
}
