// Navbar
//

.navbar {
  background-color: $navbar-bg;
  transition: background-color 300ms ease;

  .#{$theme-prefix}logo,
  .#{$theme-prefix}identity {
    display: inline-block;
    vertical-align: middle;
  }

  .#{$theme-prefix}logo {
    font-size: .7em;
  }

  .#{$theme-prefix}identity {
    font-size: .4em;
    margin-left: .4rem;
  }
}

.nav-item {
  transition: margin $theme-transition-duration * 2.2 ease-in-out;
}


@include media-breakpoint-up(sm) {
  .nav-item {
    margin: 0 .4rem;
  }
}


@include media-breakpoint-up(lg) {
  .nav-item {
    margin: .8rem;
  }
}


@include media-breakpoint-up(xl) {
  .app-core {
    &--no-script {
      .nav-item {
        margin: .8rem;
      }
    }
  }

  .nav-item {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}


@include media-breakpoint-up(xxl) {
  .app-core {
    &--no-script {
      .nav-item {
        margin: .8rem;
      }
    }
  }
  
  .nav-item {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }
}
