{% extends 'dashboard/components/base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="alert alert-warning text-dark">[skills] work in progress...</div>
  </div>
{% endblock %}
