$icons-brands-font-family: 'brands' !default;
$icons-brands-font-path:   '/build/fonts/brands' !default;
$icons-brands-font-hash:   'wqq8g9' !default;

$icon-b-bootstrap: "\e905";
$icon-b-docker: "\e900";
$icon-b-gitlab: "\e904";
$icon-b-jquery: "\e906";
$icon-b-prestashop: "\e901";
$icon-b-symfony: "\e902";
$icon-b-wordpress: "\e903";
