// Dashboard
//

// NOTE Variables & Mixins are located before bootstrap to override
//   default variables

@import 'dashboard/variables';
// @import 'dashboard/mixins';


// Libraries

@import 'bootstrap/bootstrap';
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/tables";
@import 'linearicons/linearicons';



// Dashboard itself

@import 'dashboard/root';
@import 'dashboard/app-core';
@import 'dashboard/grid';
@import 'dashboard/lists';
@import 'dashboard/tables';
@import 'dashboard/forms';

.dot {
  background-color: currentcolor;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: .358em;
  width: .358em;
  margin-top: -.1em;
}

@media print {
  .dot {
    display: none;
  }
}
