// Lists (styles for <ul>, <ol>, ...)
//

.list-icons {
  .-item {
    text-align: center;

    > * {
      display: block;
    }
  }

  .icon {
    font-size: 2em;
    opacity: .6;
  }

  .-title {
    font-size: .8em;
    line-height: 1;
    margin-top: .2em;
  }

  .-number {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: .2em;
  }
}
