{% extends 'base.html.twig' %}

{# Header : Hide Logo #}
{# NOTE How to override a block within an another block #}
{#
{% block header %}
  {% embed 'components/header.html.twig' %}
    {% block nav_brand %}{% endblock %}
  {% endembed %}
{% endblock %}
#}

{# Add Stylesheets #}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{# Body (.app-body) #}
{% block body %}
  {# Homepage's jumbotron #}
  {% include 'home/_landing.html.twig' %}

  <div class="app-main-content">
    {# Whoami block #}
    {% include 'home/_whoami.html.twig' %}

    {# Projects block #}
    {% include 'home/_projects.html.twig' %}

    {# Testimonials block
    {% include 'home/_testimonials.html.twig' %} #}

    {# Logs (~blog) block
    {% include 'home/_logs.html.twig' %} #}
  </div>
{% endblock %}
