{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-3">Litti Aurélien</h1>
      <h2 class="lead">Développeur Web - Indépendant - Fullstack_</h2>
      <hr class="my-4">
      <p>Lorem ipsum.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>

  <div class="bg-light py-4">
    <div class="container">
      <h3>Mes compétences &amp; services</h3>
    </div>
  </div>

  <div class="bg-secondary text-light py-4">
    <div class="container">
      <h3>Projets</h3>
    </div>
  </div>

  <div class="bg-light py-4">
    <div class="container">
      <h3>Clients</h3>
    </div>
  </div>

  <div class="bg-primary text-light py-4">
    <div class="container">
      <h3>Une question, un projet ?</h3>
    </div>
  </div>
{% endblock %}
