{% extends 'base.html.twig' %}

{# Header : Hide Logo #}
{# NOTE How to override a block within an another block #}
{#
{% block header %}
  {% embed 'components/header.html.twig' %}
    {% block nav_brand %}{% endblock %}
  {% endembed %}
{% endblock %}
#}

{# Add Stylesheets #}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{# Body (.app-body) #}
{% block body %}
  {# Homepage's jumbotron #}
  {% include 'home/_landing.html.twig' %}

  <div class="app-main-content">
    {# Whoami block #}
    {% include 'home/_whoami.html.twig' %}

    {# Projects block #}
    {% include 'home/_projects.html.twig' %}

    {# Testimonials block #}
    <div class="row mx-0 bg-white overflow-hidden">
      {% include 'home/_testimonials.html.twig' with { section_classes: ((clients is defined and clients|length > 0) ? 'col-xl-6' : 'col-12') } %}

      {% include 'home/_clients.html.twig' with { section_classes: 'col-xl-6' } %}
    </div>

    {# Logs (~blog) block
    {% include 'home/_logs.html.twig' %} #}
  </div>
{% endblock %}
