
<section class="app-section app-section--contact d-flex align-items-center">
  <div class="--inner">
    <h2 class="heading text-center mb-4" data-text="Formulaire de contact"
      style="--heading-text-drop-offset: -5.3em;" id="contact-form">
      Formulaire de contact
    </h2>
    <p class="text-muted small text-center mb-5">
      Vous souhaitez développer un projet web ? Vous avez besoin de conseils pour votre site ? Juste un café ?<br>
      Remplissez ce formulaire et je me ferai une joie de vous répondre !
    </p>

    <form class="form--contact" method="post">
      <div class="form-row">
        <div class="form-group col-sm-6 col-md-4">
          <label class="sr-only" for="contact-lastname">Nom</label>
          <input class="form-control" type="text" required id="contact-lastname" name="contact-lastname"
          placeholder="Nom">
        </div>
        <div class="form-group col-sm-6 col-md-4">
          <label class="sr-only" for="contact-firstname">Prénom</label>
          <input class="form-control" type="text" required id="contact-firstname" name="contact-firstname"
          placeholder="Prénom">
        </div>
        <div class="form-group col-md-4">
          <label class="sr-only" for="contact-email">Email</label>
          <input class="form-control" type="text" required id="contact-email" name="contact-email"
            placeholder="Email">
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only" for="contact-message">Message</label>
        <textarea class="form-control" required id="contact-message" name="contact-message"
          rows="5" placeholder="Message"></textarea>
      </div>

      <hr class="w-100">

      <div class="custom-control custom-checkbox contact-checkbox-for-quote text-center">
        <input type="checkbox" class="custom-control-input" id="contact-is-quote" name="contact-is-quote">
        <label class="custom-control-label" for="contact-is-quote">Demande de devis</label>
      </div>

      <div class="contact-inputs-quote">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label class="sr-only" for="contact-amount">Budget</label>
            <select class="custom-select" name="contact-amount">
              <option selected disabled>Budget</option>
              <option value=".5-1k">500 - 1 000€</option>
              <option value="1-5k">1 000 - 5 000€</option>
              <option value="5-10k">5 000 - 10 000€</option>
              <option value="10k+">+10 000€</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="sr-only" for="contact-project-type">Type de projet</label>
            <select class="custom-select" name="contact-project-type">
              <option selected disabled>Type de projet</option>
              <option value="from-scratch">Site sur-mesure (Symfony)</option>
              <option value="cms">Site CMS (Wordpress, Prestashop, ...)</option>
              <option value="landing">Site de présentation simple (sur-mesure &amp; statique)</option>
              <option value="update">Reprise ou mise-à-jour d'un site existant (tout type)</option>
            </select>
          </div>
        </div>
      </div>

      <div class="text-center mt-4">
        <button type="button" class="btn-toggle-form-contact btn btn-outline-secondary text-white mx-2">
          Annuler
        </button>
        <button type="submit" class="btn btn-primary px-5 mx-2">
          Envoyer
        </button>
      </div>
    </form>
  </div>
</section>

<footer class="app-footer text-light py-2 scrolling-machine" style="min-height: 240px;">
  <div class="container-fluid">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">Mentions légales</li>
      <li class="list-inline-item">Lorem</li>
    </ul>
  </div>
</footer>
