
{% include 'components/form-contact.html.twig' %}

<footer class="app-footer text-light py-2 scrolling-machine" style="min-height: 240px;">
  <div class="container-fluid">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">Mentions légales</li>
      <li class="list-inline-item">Lorem</li>
    </ul>
  </div>
</footer>
