<div class="app-header">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      {% block nav_brand %}
        {# NOTE Remove link (<a>) arround logo (brand) if current route (~path) is "home" #}
        {% if app.request.attributes.get('_route') == 'home' %}
        <span class="navbar-brand">
          {% include 'components/logo.html.twig' with { display_identity: true } %}
        </span>
        {% else %}
        <a class="navbar-brand" href="{{ path('home') }}">
          {% include 'components/logo.html.twig' with { display_identity: true } %}
        </a>
        {% endif %}
      {% endblock %}

      {# Main navigation #}
      {% block nav %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link scroll-to" href="#whoami">
                À propos
              </a>
            </li>
            <li class="nav-item{% if app.request.attributes.get('_route') == 'projects' %} active{% endif %}">
              {#<a class="nav-link" href="{{ path('projects') }}">#}
              <a class="nav-link scroll-to" href="#projects">
                Projets
              </a>
            </li>
            {#<li class="nav-item">
              <a class="nav-link" href="#">Logs.</a>
            </li>#}
            <li class="nav-item">
              <a class="btn-toggle-form-contact nav-link" href="#contact-form">
                Contact
              </a>
            </li>
          </ul>
        </div>
      {% endblock %}
    </div>
  </nav>
</div>
