<div class="shuri-identity">
  <h1 class="--names">
    <span>{{ identity.last_name }} {{ identity.first_name }}</span> 
    <span class="--badge">Freelance</span>
  </h1>
  <h2 class="--status">{{ identity.status }}</h2>
</div>
