<noscript>
  <div class="container message-no-script">
    <div class="alert alert-warning">
      Pour une meilleure expérience de navigation, veuillez activer
      Javascript dans les paramètres de votre navigateur.
    </div>
  </div>
</noscript>
<script>
  document.getElementsByTagName('body')[0].classList.remove('app-core--no-script');
</script>
