// Social Networks variables
//

$icons-networks-font-family:           'social-networks' !default;
$icons-networks-font-path:             '/build/fonts/social-networks' !default;
$icons-networks-font-hash:             'lus5ud' !default;
